* {
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #DFD9E2;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}



.header-container > h1 {
    font-family: 'Shadows Into Light', "Karla", sans-serif;
    font-size: 3em;
    padding-top: .2em;
    font-style: italic;
    margin-bottom: 0;
    border-top: 2px solid black;
}

.header-container > p {
    font-family: 'Shadows Into Light', "Karla", sans-serif;
    margin-top: 0;
    padding-bottom: .8em;
    text-align: center;
    border-bottom: 2px solid black;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vh;
}

.canvas-container {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin-left: 12em;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.canvas {
    height: 90%;
    width: 70%;
    outline: 2px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}


.menu {
    width: 20vw;
    margin-right: auto;
    border : solid black;
    background-color: white;
    border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(1deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-picker > p {
    font-size: 1.2em;
    margin-bottom: .2em;

}

#color-selector {
    height: 8em;
    width: 8em;
    border: 0;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    box-shadow: 1px 4px 10px black;
    cursor: pointer;
    margin: 0;
    border-radius: .2em;
    background: black;
    border-radius: 1em;
}

::-webkit-color-swatch{
    border: none;
}

.slider-container > p {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
}

.slider {
    display: block;
} 


  
.button{
    position:relative;
    display:inline-block;
    margin-bottom: 1em;
  }
  
.button a{
    text-decoration:none;
    background-color:#DFD9E2;
    display:block;
    position:relative;
    padding: .5em 1.5em;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button a .eraser {
      padding: .5em 2em;
}
  
.active{
    top:10px;
    background-color:#6A66A3;
}
  
.button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.clear:active{
    top:10px;
    background-color:#6A66A3;
}

.clear {
    box-sizing: content-box;
    padding-left: 0.5em 20px;
}

